---
---

<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
</header>

<style lang="less">
    nav {
        display: flex;
        justify-content: center;
        gap: 24px;
        align-items: center;
        flex-flow: row wrap;

        font-size: var(--font-size-lg);
    }
</style>